*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    width: 1200px;
    margin: 0 auto;
}
.header .top-header{
    padding: 4px 0;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
    background: #F2F2F2;
    overflow: hidden;
}
.header .top-header .contenedor .top-menu{
    float: left;
}
.header .top-header .contenedor .top-menu ul{
    list-style: none;
}
.header .top-header .contenedor .top-menu ul li{
    float: left;
    }
.header .top-header .contenedor .top-menu ul li a{
    text-decoration: none;
    color: #363940;
    padding: 15px 15px;
    display: inline-block;
}
.header .top-header .contenedor .top-menu ul li a:hover{
    color:#CECEF6;
}
.header .top-header .contenedor .top-redes{
    float: right;
}
.header .top-header .contenedor .top-redes ul{
    list-style: none;
}
.header .top-header .contenedor .top-redes ul li{
    float: right;
    }
.header .top-header .contenedor .top-redes ul li a{
    text-decoration: none;
    color: #363940;
    padding: 15px 15px;
    display: inline-block;
}
.header .top-header .contenedor .top-redes ul li a:hover{
    color:#CECEF6;
}
.titulo-blog{
    margin: 35px 0;
    text-align: center;
}
.titulo-blog h1 a{
    text-decoration: none;
    color: #363940;
    font-size: 60px;
    display: inline-block;
    padding: 35px 0;
    font-weight: bold;
}
.titulo-blog h1 a:hover{
    color: #8b919b;
}
.titulo-blog .subtitulo{
    font-size: 16px;
    letter-spacing: 1px;
    color: #848484;
}
.menu-principal{
    margin-bottom: 40px;
    border-top: 1px solid #f0f0f0 ;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    padding: 10px 0;
}
.menu-principal .contenedor ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
}
.menu-principal ul li{
    display: inline-block;
}
.menu-principal ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #363940;
}
.main .banner{
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}
.main .banner .contenedor .banner-principal{
    width: 100%;
}
.main .banner .contenedor .banner-principal img{
    width: 100%;
}
.blog{
    background: #f7f7f7;
    padding: 40px 0;
    width: 100%;
}
.blog  {
    overflow: hidden;
}
.articulo{
    background: white;
}
.blog .articulos-blog{
    float: left;
    width: 65%;
}
.blog .articulos-blog .articulo{
    background: #fff;
    padding: 60px 0;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
}
.blog .articulos-blog .articulo .fecha-articulo{
    color: #c7c7c7;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.articulos-blog  img{
    width: 100%;
}
.articulos-blog .texto-articulo{
    padding: 20px 40px;
    text-align: justify;
}
.articulos-blog .texto-articulo p{
    margin-bottom: 20px;
    color: #363940;
}
.articulos-blog .botoom{
    text-align: center;
}
.articulos-blog .botoom a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    background: none;
    border: 1px solid #bababa;
    font-size: 14px;
    color: #7d7d7d;
}
.articulos-blog .botoom a:hover{
    background: #7d7d7d;
    color: #fff;
}
.aside{
    float: right;
    width: 28%;
    margin-right: 30px;
}
.aside .widget{
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
}
.aside .widget .autor-widget .foto-autor{
    text-align: center;
    margin-bottom: 10px;
}
.aside .widget .autor-widget .foto-autor img{
    width: 125px;
    border-radius: 10%;
}
.aside .widget .autor-widget .datos-de-autor{
    text-align: center;
}
.datos-de-autor .nombre{
    color: #363940;
    font-size: 26px;
    margin-bottom: 10px;
}
.datos-de-autor .profesion{
    color: #9c9c9c;
    font-size: 16px;
    margin-bottom: 20px;
}
.datos-de-autor .info{
    color: #363940;
    font-size: 16px;
    margin-bottom: 10px;
}
.aside .widget .destacados-widget{
    text-align: center;
}
.destacados-widget .titulo-destacados{
    color: #363940;
    font-size: 26px;
    margin-bottom: 20px;
}
.destacados-widget ul{
    list-style: none;
    text-align: left;
}
.destacados-widget ul li a{
    color: #363940;
    font-size: 16px;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
    text-decoration: none;
}
.destacados-widget ul li a:hover{
    text-decoration: underline;
    color: #8b919c;
}
.footer{
    background: #fff;
    padding: 40px;
    border: 1px solid #f0f0f0;
    text-align: center;
    color: #9c9c9c;
}